/* section */
.banner {
    position: relative;
}

.banner-img .img {
    width: 100%;
}

.banner .banner-content {
    position: absolute;
    top: 20%;
    left: 20%;
}

.banner-content .content-title {
    font-size: 32px;
}

.banner-content .content-img {
    margin-top: 10px;
}

.banner-content .content-describe {
    width: 375px;
    margin-top: 20px;
}

.content-button button {
    width: 215px;
    height: 60px;
    margin-top: 50px;
    background-color: #aabc44;
    border: none;
    font-size: 22px;
}

.product {
    position: relative;
    /* background: url(../images/trang-chu/bgSanpham.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 1000px; */
}

.product .product-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.product .product-title {
    margin-top: 150px;
    margin-bottom: 90px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-item {
    margin: 0px 30px;
    text-align: center;
}

.card-item .item-name {
    margin-top: 20px;
    font-size: 20px;
}

/* introduce */
.introduce {
    position: relative;
}

.introduce .number-phone {
    font-size: 30px;
    font-weight: 600;
    color: #aabc44;
    position: absolute;
    top: 33%;
    right: 4%;

}

.introduce .introduce-content {
    position: absolute;
    top: 55%;
    left: 20%;
}

.introduce-content .introduce-describe {
    width: 530px;
    margin-top: 20px;
    text-align: justify;
}

.introduce-button button {
    width: 215px;
    height: 60px;
    margin-top: 30px;
    background-color: #aabc44;
    border: none;
    font-size: 22px;
}

/* artist */

.artist {
    position: relative;
}

.artist .artist-background .img {
    width: 100%;
}

.artist .artist-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.artist .artist-title {
    margin-top: 120px;
    margin-bottom: 90px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.artist-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.artist-card {
    width: 230px;
    margin: 0px 20px;
    text-align: center;
}

.artist-card .artist-name {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

/* Buy */
.buy {
    position: relative;
    text-align: center;
}

.buy-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.buy-content .buy-title {
    font-size: 24px;
    margin-top: 140px;
    margin-bottom: 90px;
    font-size: 26px;
    display: inline-block;
}

.buy-box input {
    width: 812px;
    height: 54px;
    border: 3px #aabc44 solid;
    font-size: 20px;
    padding: 0px 20px;
}

.buy-box button {
    width: 160px;
    height: 60px;
    margin-left: 24px;
    font-size: 20px;
    color: #000;
    background-color: #aabc44;
    border: none;
}
